<!doctype html>

<html>
<head>
    <title>Projects</title>
</head>
<body>
    <form id="form">
        <select name="color" id="select">
             <option disabled selected value>SELECT A COLOR</option>
            {{#colorArray}}
            <option>{{color}}</option>
            {{/colorArray}}
        </select>
        <select name="city" id="select">
            <option disabled selected value>SELECT A CITY</option>

                {{#cityArray}}
                <option>{{city}}</option>
                {{/cityArray}}
        </select>
        <div class="button" id="button">
            <button type="submit">GO</button>
         </div>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>FIRST NAME</th>
            <th>LAST NAME</th>
            <th>AGE</th>
            <th>CITY</th>
            <th>HOMEPAGE</th>
            <th>COLOR</th>

        </tr>
        {{#allData}}
            <tr>
                <td>{{id}}</td>
                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
                <td>{{age}}</td>
                <td>{{city}}</td>
                <td>{{homepage}}</td>
                <td>{{color}}</td>
            </tr>
        {{/allData}}
    </table>

</body>

</html>
